<ion-header>
  <ion-toolbar color="primary">
    <ion-title class="ion-text-center">Home</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-no-margin ion-no-padding">
  <ion-row style="height: 100%;">
    <ion-col size="12" class="ion-align-self-center">
      <ion-button expand="block" color="success" (click)="access()">
        Enter
      </ion-button>
    </ion-col>
  </ion-row>
</ion-content>
